.communicate {
  padding: 96px 0;

  &__title {
    margin-bottom: 32px;
  }

  &__subtitle {
    margin-bottom: 48px;
    text-align: center;
  }

  &__card {
    &:not(:last-child) {
      margin-bottom: 48px;
    }
  }

  &__heading {
    margin-bottom: 24px;
    color: $login;
    font-size: 20px;
    line-height: 1.2;
  }

  &__text{
    
  }
}