<section class="marketplace section bg-main">
  <div class="container">

    <h2 class="section__title marketplace__title">Add As Many Amazon Marketplaces As You Need - For Free</h2>
    <div class="marketplace__subtitle section__subtitle">
      <p>
        SageMailer supports ALL Amazon Seller Centrals. You don't have to pay each time you integrate a new online marketplace. Just add as many Amazon marketplaces as you need and start selling globally!
      </p>
    </div>
    <div class="marketplace__box">
      <img class="marketplace__img" src="img/content/marketplace-bg.svg" alt="Take Your Amazon Reviews and Product Rankings Under Control">
    </div>
  </div>
</section>