<section class="manage section bg-main">
  <div class="container">

    <h2 class="section__title manage__title">Manage All Your Communication with Buyers in One Dashboard</h2>
    <div class="manage__subtitle section__subtitle">
      <p>
        How to reply to buyers' messages effortlessly? Our solution simplifies and speeds up the process.
      </p>
    </div>
    <div class="manage__box">
      <img class="manage__img" src="img/content/manage-bg.svg"
        alt="Take Your Amazon Reviews and Product Rankings Under Control">
    </div>
  </div>
</section>