<section class="section advantages">
  <div class="container">
    <h2 class="sronly">Use our advantages</h2>

    <ul class="advantages__list">
      <li class="advantages__item"><span>Get notified of new messages.</span> Prompt customer support is one of the keys to building relations with your customers. We send you an instant notification each time you get a new question, customer review, or inquiry.</li>
      <li class="advantages__item"><span>Respond instantly.</span>  The shorter the response time, the more likely you are to satisfy you customer's needs and show them your care.</li>
      <li class="advantages__item"><span>Make use of email templates.</span> Create your own customer service letters for all typical inquiries and choose the one that suits the use case.</li>
      <li class="advantages__item"><span>Take advantage of auto-filling.</span> Use auto-filling features for order details to speed up the response time and make your emails more personalized.</li>
      </li>
    </ul>
  </div>
</section>