<section class="communicate section">
  <div class="container">
    <h2 class="communicate__title section__title ">Communicate With International Buyers In Their Language</h2>
    <div class="section__subtitle communicate__subtitle">
      Our pre-developed templates come in different languages which opens up an opportunity to communicate with your
      foreign shoppers in the most effective and ROI-driven ways.
    </div>
    <article class="communicate__card">
      <h3 class="communicate__heading">Create Highly-Converting Emails and Test Them</h3>
      <div class="communicate__text">
        <p>Most of our users’ emails have an average open rate of 30%. What’s more, you can easily customize them and
          test the result. You will also be able to send your letter at different times, target different buyers and
          ASINs to develop a winning mailing strategy and boost your product rankings.</p>
      </div>
    </article>
    <article class="communicate__card">
      <h3 class="communicate__heading">Motivate Your Buyers to Leave a Review</h3>
      <div class="communicate__text">
        <p>Gathering authentic feedback is one of the best ways to make your products stand out from the competition.
          Motivate your international buyers to create reviews for you by sending them the right email at the right
          time.</p>
      </div>
    </article>
    <article class="communicate__card">
      <h3 class="communicate__heading">Manage Your Amazon Reputation Across the Marketplaces</h3>
      <div class="communicate__text">
        <p>Stay always updated on your reviews left by the customers on all Amazon platforms. No need to use dedicated
          apps for each marketplace since you can manage them all within our solution. Respond to your customers’
          queries asap and organically grow your product rankings.</p>
      </div>
    </article>

  </div>
</section>