<section class="section global bg-main">
  <div class="container">
    <h2 class=" global__title">Get Started With Amazon Global Selling</h2>
    <div class="section__subtitle global__subtitle">
      <p>Be smart with your Amazon review management. Your customers are already smart enough to carefully read them before deciding on the purchase. SageMailer is a one-stop solution with a well-developed set of features for Amazon seller reputation control. </p>
    </div>
    <ul class="global__list">
      <li class="global__item">Manage all your Amazon reviews for unlimited ASINs in one place.</li>
      <li class="global__item">Get instant notifications automatically.</li>
      <li class="global__item">Respond to negative reviews ASAP.</li>
      <li class="global__item">Export, analyze and share reviews in CSV.</li>
      <li class="global__item">Find trending keywords in your customers’ comments to better tailor your ads copy.</li>
    </ul>
  </div>
</section>