<section class="section services bg-main">
  <div class="container">
    <h2 class="sr-only">Services that we provide</h2>

    <div class="services__row">

      <article class="service-card service-card--first">
        <h3 class="service-card__title">Customize an Amazon Email Autoresponder in The Way You Need</h3>
        <div class="service-card__text">
          <p>
            Amazon email autoresponder for sellers makes communication with buyers even more effective. This is a great
            option to relieve your headache during the peak loads on your customer support and stay in touch with your
            customers during holidays.
          </p>
        </div>
      </article>

      <article class="service-card service-card--second">
        <h3 class="service-card__title">Manage Your Feedback From International Buyers in a Single Place</h3>
        <div class="service-card__text">
          <p>
            Access multiple marketplaces from a single dashboard, and manage your buyer messages with pre-created
            templates or mark them as “No response needed”. Stay always in touch with your international buyers!
          </p>
        </div>
      </article>

      <div class="services__box">
        <img class="services__img" src="img/content/services-bg.svg">
      </div>
    </div>

    <article class="service-card service-card--wide">
      <h3 class="service-card__title">Measure Your Communication Effectiveness</h3>
      <div class="service-card__text">
        <p>
          Keep track of your Scheduled and Sent messages and analyze the success rate of your mailing with detailed
          reports. Built-in A/B testing will help to test your ideas and find out what email marketing approaches work
          best for your customers.
        </p>
      </div>
    </article>



  </div>
</section>